.unregisterform-container {
  background-color: #444cf755;
  height: var(--welcomeFormContainerHeight);
  min-height: var(--welcomeFormContainerHeight);
  width: 100%;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unregisterform-inputgroup {
  margin: 0px 10px 0px 10px;
  min-width: var(--responsive-inputGroupWidth) !important;
  width: var(--responsive-inputGroupWidth) !important;
}

.unregisterform-inputgroup-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unregisterform-inputgroup-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
