.helpoverlay-container {
  height: var(--sidebarContentHeight) !important;
}

.p-carousel-prev {
  margin: 3px 0px 3px 0px !important;
}

.p-carousel-next {
  margin: 3px 0px 3px 0px !important;
}

.p-carousel-indicators {
  padding: 2px 0px 2px 2px !important;
}
