.helpscreen-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  border: 2px solid blue;
  padding: 2px 5px 2px 5px;

  background-color: #e5e5f7;
  /* opacity: 0.5; */
  /*
  background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -18px 0/
      36px 36px,
    linear-gradient(225deg, #444cf7 25%, transparent 25%) -18px 0/ 36px 36px,
    linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 36px 36px,
    linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 36px 36px;
  */
}

.fake-input-arrow {
  margin-left: 100px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 100px solid #444cf7;
}

.fake-action-input {
  background-color: #e5e5f7;
  flex: 0;
  width: 100%;
  min-height: 2rem;
}
