.aatapp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.aatapp-appcard {
  min-height: 94vh;
  margin: 1rem;
  align-items: center;
  text-align: center;
}

.aatapp-tabview {
  vertical-align: middle;
  width: 100%;
}

.aatapp-tabpanel-content {
  height: 88vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.aatapp-logo {
  height: 20vmin;
  pointer-events: none;
  /* background-image: url(./assets/icons/logo.png); */
}

@media (prefers-reduced-motion: no-preference) {
  .aatapp-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-tabview .p-tabview-panels {
  padding: 0 !important;
}

.p-card .p-card-body {
  padding: 0 !important;
}

.p-card .p-card-content {
  padding: 0 !important;
}

.p-tabview-nav-link {
  padding-bottom: 5px !important;
}
