:root {
  --responsive-width: 400px;
  --responsive-overlaywidth: 400px;
  --responsive-overlayMarginLeft: calc(50% - 200px);
  --responsive-tabViewTitlePadding: 1rem;
  --responsive-helpScreenItemHeight: calc(100vh - 17rem);

  --tabPanelContentHeight: calc(100vh - 7rem);
  --sidebarHeight: calc(100% - 1rem);
  --sidebarContentHeight: calc(100% - 2rem);
}

@media screen and (max-device-width: 640px), screen and (max-width: 640px) {
  :root {
    --responsive-width: calc(100% - 10px);
    --responsive-overlaywidth: calc(100% - 10px);
    --responsive-overlayMarginLeft: 4px;
    --responsive-tabViewTitlePadding: 0.75rem;
  }
}

@media screen and (max-device-height: 655px), screen and (max-height: 655px) {
  :root {
    --responsive-helpScreenItemHeight: calc(100vh - 15rem);
  }
}

.aatapp-container {
  /* margin-top: 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sidebar-container {
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.aatapp-appcard {
  margin: 1rem;
  align-items: center;
  text-align: center;
  width: var(--responsive-width);
  max-width: var(--responsive-width);
  min-width: var(--responsive-width);
}

.aatapp-tabview {
  vertical-align: middle;
  width: 100%;
}

.aatapp-tabpanel-content {
  height: var(--tabPanelContentHeight);
  font-size: calc(10px + 2vmin);
  border-radius: 5%;
  background-color: #e5e5f7;
  background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -18px 0/
      36px 36px,
    linear-gradient(225deg, #444cf7 25%, transparent 25%) -18px 0/ 36px 36px,
    linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 36px 36px,
    linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 36px 36px;
}

.aatapp-logo {
  height: 20vmin;
  pointer-events: none;
  /* background-image: url(./assets/icons/logo.png); */
}

@media (prefers-reduced-motion: no-preference) {
  .aatapp-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-sidebar-content {
  height: var(--sidebarHeight);
}

.p-tabview .p-tabview-panels {
  padding: 0 !important;
}

.p-card .p-card-body {
  padding: 0 !important;
}

.p-card .p-card-content {
  padding: 0 !important;
}

.p-tabview-nav-link {
  padding-bottom: 5px !important;
}

.p-menubar {
  padding: 0px !important;
  margin-left: 5px;
  margin-right: 5px;
  border: unset !important;
}

.p-grid {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
}

ul {
  margin-block-start: unset !important;
}

.p-datatable .p-datatable-header {
  padding: 0.5rem 0.5rem !important;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem !important;
}

.p-card {
  border: 2px solid blue !important;
  border-radius: 5% !important;
}

.p-sidebar-content {
  height: var(--sidebarContentHeight) !important;
}

.p-carousel-content {
  height: calc(var(--sidebarContentHeight) - 1rem) !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: var(--responsive-tabViewTitlePadding) !important;
}
