.actions-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.actions-list {
  flex: 1;
  /* border: 2px solid red; */
}

.actions-input {
  background-color: #e5e5f7;
  flex: 0;
  width: 100%;
  min-height: 3rem;
  border: 2px solid #e5e5f7;
}
