.actions-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e5e5f795;
  opacity: 1 !important;
}

.actionlist-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  align-items: center;
  text-align: center;

  opacity: 1 !important;

  /* max-height: 452px; */
  /* background-color: #e5e5f7; */
  /* border: 5px solid red; */
}

.action-item {
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* margin-right: 10px; */
  /* margin-left: auto; */

  /* font-weight: bold; */
  /* background-color: #e5e5f7; */
}

.action-item-date {
  padding: 3px 15px 3px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  font-size: 12px;
  border-radius: 20px;
  background-color: #444cf7;
  color: #e5e5f7;
  /* background-color: #150f68; *
  /* color: black; */
  width: fit-content;
}

.action-item-action {
  padding: 3px 15px 3px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  font-size: 12px;
  border-radius: 20px;
  background-color: #c6c3f5;
  color: black;
  width: fit-content;
}

.action-item-totals {
  width: fit-content;
  background: #fff;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
  margin-left: auto;
  margin-right: auto;
  white-space: pre;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

.actions-input {
  background-color: #dcdce6;
  flex: 0;
  width: 100%;
  margin: 5px 3px 5px 3px !important ;
  min-height: 2rem;
}

.actions-container .p-inputgroup {
  width: unset !important;
}

.actions-input-invalid {
  background-color: #e5e5f7;
  flex: 0;
  width: 100%;
  min-height: 1rem;
  color: red;
  font-size: medium;
  /* border: 2px solid red; */
}
